
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogify : Fashion</title>
    {% comment %} <link rel="stylesheet" href "{%static '/Blogify/CSS/fashion.css'%}" /> {% endcomment %}
</head>
{%block content%}
<body>
    <header>
        <a href="#">Fashion News</a>
    </header>
    <div class="container">

        <div class="div_10" style="margin-top: 3%;">
            <img src="/Blogify/Images/img1.png" class="images">
            <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In laudantium similique aspernatur?</a>
        </div>

    </div>
</body>
{%endblock content %}
</html>