
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogify : Music</title>
    {% block css_files %}
    <link rel="stylesheet" href= "{% static 'blog/music.css' %}" >
    {% endblock %}
  </head>
</head>
{% comment %} {% Block content %} {% endcomment %}
<body>
    <header>
        <a href="#">Music</a>
        
    </header>
    <div class="container">
        <div class="div_1">
            <img src="" class="images">
            <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In laudantium similique aspernatur?</a>
        </div>
    </div>
</body>
{% comment %} {% endblock content %} {% endcomment %}
</html>