{% extends 'base.html' %}

{%block title %} {{post.title}}Page {% endblock %}



{%block content%}
{% if user.is_authenticated %}

<h1>Add Post </h1>
<br>
{%for post in posts reversed %}
<div>
    <form method="POST" action="#">
        <h2> {{post.title}}<h2>
        <img> {{post.image}} <img>
        <h5> {{post.written_at}}<h5>
        <h5> {{post.body}} <h5>
        <small> By: {{post.author.firstname}}<small>
    </form>
    {% else %}
        You are not allowed to Add post 
    {% endif %}
</div>
{%end for %}


{%endblock%}
