{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% block css_files %}
    <link rel="stylesheet" href= "{% static 'blog/signup.css' %}" >
    {% endblock %}
  </head>

</head>


<style>
 h3{
    color: Red
}
</style>


{%block content%}
<body>
    <div class="container">
        <a href="{% url 'index'%}" class="home_link">Home</a>
        <h2>Sign up to Blogify <i class="fas fa-video"></i></h2>
    
        {% for message in messages %}
        <h3> {{message}}</h3>    
        {% endfor %}

        <form method="POST" action="signup">
            {% csrf_token %}
            <div class="input-box">
                <input type="text" name='Firstname' placeholder="Firstname" required>
            </div>
            <div class="input-box">
                <input type="text" name='Lastname' placeholder="Lastname" required>
            </div>
            <div class="input-box">
                <input type="text" name='username' placeholder="Username" required>
            </div>
            <div class="input-box">
                <input type="email" name='email' placeholder="Email" required>
            </div>
            <div class="input-box">
                <input type="password" name='Password' placeholder="Password" required>
            </div>
            <div class="input-box">
                <input type="password" name='ConfirmPassword' placeholder="Confirm Password" required>
            </div>
            <div class="policy">
                <input type="checkbox">
                <h3>I agree to all terms and conditions</h3>
            </div>
            <button class="input-box button">
                <input type="submit" value="Sign up" required>
            </button>
            <div class="text">
                <h3>Already have an account?&nbsp;<a href="{% url 'Signin' %}">Login now</a></h3>
            </div>
        </form>
    </div>
</body>
{%endblock content%}
</html>