<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogify : Sports</title>
    <link rel="stylesheet" href="/Blogify/CSS/sports.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" type="image/x-icon" href="/Blogify/Images/img1.png" />
</head>
{%block content%}
<body>
    <header>
        <a href="#">Sports News</a>
    </header>
    <div class="container">
         {% for post in posts reversed %}
        <div class="div_1">
            {{post.image}}
            <h2>{{post.title}}</h2>
            <h2>{{post.written_at}}</h2>
            <h2>{{post.body}}</h2>
        </div>
        {% endfor %}
    </div>
</body>
{%endblock content %}
</html>