{% extends 'base.html'%}

{% block title %} Edit Blog Post {% endblock %}

{% block content %}
    {% if user.is_authenticated%}
         {% if user.id == post.author.id%}
    <h1> Update Post </h1>
    <br>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.media}}
            {{ form.as_p }}
            <button > update </button>
        </form>
    </div>
        {% else %}
            You are not allowed to edit 
        {% endif %}
{% else %}
    You are not allowed to edit 
{% endif %}

{% endblock %}