/*====================================THIS IS THE RESPONSIVE CODE FOR THE LAPTOP SCREEN============================================*/
html{
    scroll-behavior: smooth;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  body {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
  }
  .container {
    display: flex;
    flex-direction: column;
    user-select: none;
  }
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04aa6d;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  .logo_div {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    color: #f2f2f2;
    font-size: 3ch;
    justify-content: center;
    user-select: none;
  }
  .logo_div p{
    font-weight: 600;
    color: #ffffffff;
  }
  .home-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
  }
  .h1_div{
    height: 10%;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    user-select: none;
    margin-top: 5%;
  }
  h1{
    color: #333;
  }
  .first_box{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 20%;
    margin-top: 3%;
    border-radius: 5px;
    margin-left: 1%;
    user-select: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .first_box a{
    color: #333;
    text-decoration: none;
    font-size: 3vh;
    font-weight: 600;
    padding-left: 4%;
  }
  .first_box a:hover{
    text-decoration: underline;
  }
  .second_box{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 20%;
    margin-top: 3%;
    border-radius: 5px;
    margin-left: 1%;
    user-select: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .second_box a{
    color: #333;
    text-decoration: none;
    font-size: 3vh;
    font-weight: 600;
    padding-left: 4%;
  }
  .second_box a:hover{
    text-decoration: underline;
  }
  .third_box{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 20%;
    margin-top: 3%;
    border-radius: 5px;
    margin-left: 1%;
    user-select: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .third_box a{
    color: #333;
    text-decoration: none;
    font-size: 3vh;
    font-weight: 600;
    padding-left: 4%;
  }
  .third_box a:hover{
    text-decoration: underline;
  }
  .fourth_box{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 20%;
    margin-top: 3%;
    border-radius: 5px;
    margin-left: 1%;
    user-select: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .fourth_box a{
    color: #333;
    text-decoration: none;
    font-size: 3vh;
    font-weight: 600;
    padding-left: 4%;
  }
  .fourth_box a:hover{
    text-decoration: underline;
  }
  
  /*===================================COLLAPSIBLE SECTION BEGINS=========================================*/
  /* Style the button that is used to open and close the collapsible content */
  .collapse_div{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-top: -15%;
  }
  .collapsible {
    background-color: #04aa6d;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    color: #ffffffff;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #333;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;
    flex-direction: column;
    background: #04aa6d;
    border-radius: 5px;
    margin-top: 2%;
    align-items: center;
  }
  .content a{
    text-decoration: none;
    color: #ffffffff;
    font-size: 3vh;
  }
  .content a:hover{
    text-decoration: underline;
  }
  /*===================================================== COLLAPSIBLE SECTION ENDS ==========================================*/
  .social_icons{
    width: 20%;
    height: auto;
    background: #04aa6d;
    margin-top:-32.5%;
    margin-left: 78%;
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    line-height: 5vh;
    border-radius: 5px;
    cursor: pointer;
  }
  .social_icons h3{
    color: #ffffffff;
  }
  .social_icons a{
    text-decoration: none;
    color: #ffffffff;
  }
  .social_icons a:hover{
    text-decoration: underline;
  }
  /*=================================================SLIDESHOW SECTION BEGINS HERE======================================*/
  /* Position the image container (needed to position the left and right arrows) */
  .slideshow_container {
    position: relative;
    margin-top: 10%
    ;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color:#04aa6d;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #333;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #04aa6d;
    padding: 2px 16px;
    color: #ffffffff;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  /*=======================================SLIDESHOW SECTION ENDS HERE=================================================*/
  footer{
    width: 100%;
    height: 100px;
    background: #333;
    margin-top: 10%;
    display: flex;
    justify-content: center;
  }
  .footer_content{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    color: #ffffffff;
    height: auto;
    margin-top: 2%;
  }
  .footer_content a{
    color: #ffffffff;
    text-decoration: none;
  }
  .footer_text{
    font-size: 2vh;
    margin-top: 3%;
  }
  .footer_text p{
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  
  
  
  
  
  /*===================================THIS CODE IS TO HIDE ALL THE LINKS WHEN THE SCREEN IS LESS THAN 600PX=======================================*/
  @media screen and (max-width: 500px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  
  
  
  /*==============================================THIS CODE DISPLAYS THE LINKS VERTICALLY INSTEAD OF HORIZONTALLY=============================*/
  @media screen and (max-width: 850px) {
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .logo_div p{
      font-size: 3vh;
      margin-top: 5%
      ;
    }
    .home-section{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .first_box{
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 90%;
      margin-top: 8%;
      border-radius: 5px;
      margin-left: 5%;
      user-select: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .first_box a{
      color: #333;
      text-decoration: none;
      font-size: 3vh;
      font-weight: 600;
      padding-left: 4%;
    }
    .second_box{
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 90%;
      margin-top: 8%;
      border-radius: 5px;
      margin-left: 5%;
      user-select: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .second_box a{
      color: #333;
      text-decoration: none;
      font-size: 3vh;
      font-weight: 600;
      padding-left: 4%;
    }
    .third_box{
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 90%;
      margin-top: 8%;
      border-radius: 5px;
      margin-left: 5%;
      user-select: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .third_box a{
      color: #333;
      text-decoration: none;
      font-size: 3vh;
      font-weight: 600;
      padding-left: 4%;
    }
    .fourth_box{
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 90%;
      margin-top: 8%;
      border-radius: 5px;
      margin-left: 5%;
      user-select: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .fourth_box a{
      color: #333;
      text-decoration: none;
      font-size: 3vh;
      font-weight: 600;
      padding-left: 4%;
    }
    .h1_div{
      margin-top: 15%;
    }
    .social_icons{
      width: 90%;
      height: auto;
      background: #04aa6d;
      margin-left: 5%;
      z-index: -1;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      user-select: none;
      line-height: 5vh;
      border-radius: 5px;
      margin-top: 25%;
      position: relative;
    }
    .social_icons h3{
      color: #ffffffff;
    }
    .social_icons a{
      text-decoration: none;
      color: #ffffffff;
    }
    .collapse_div{
      width: 80%;
      margin-top: 20%;
      margin-left: 10%;
    }
    .collapsible{
      border-radius: 5px;
    }
    .content{
      margin-top: 10%
    }
    footer{
      height: auto;
    }
    .footer_content{
      display: flex;
      flex-direction: column;
     align-items: center;
     justify-content: space-between;
     line-height: 5ch;
     margin-top: 2%;
     margin-bottom: 2%;
    }
    footer a{
      font-size: 2.5vh;
    }
  }